@media  screen and (max-width: 475px) {
    html, body {
        overflow-x: hidden;
    }
    header div:nth-child(2), header div:nth-child(3), header div:nth-child(4), header div:nth-child(5),
    header div:nth-child(6), header div:nth-child(7), header div:nth-child(8), header div:nth-child(10),
    .login-none, .fixed, .rowb{
            display: none;
    }
    header div:nth-child(9) {
        position: relative;
        left: 15px;
    }
    header div:nth-child(1) {
        margin-left: -20px;
        width: 30px !important;
    }
    .moon {
        background-size: 1000px 1000px;
    }
    .display-4 {
        font-size: 40px;
        font-weight: 700;
        width: 500px;
        position: relative;
        left: -90px;
        padding: 70px    ;
    }
    .display3 {
        font-size: 40px;
        font-weight: 700;
        width: 300px;
        position: relative;
        left: 10px;
    }
    .row2 .card {
        width: 500px !important;
    }
    .moon .row {
        display: flex;
        flex-direction: column;
    }
    .clot {
        width: 350px;
        position: relative;
        left: -30px;
    }
    .paddinga, .what  {
      width: 350px;
      margin-left: -10px !important;
    }
    .padding7 .card {
        width: 300px !important;
    }
    .mid {
       width: 420px; 
    }
    .hill {
        margin-left: -10px;
    }
    .row5 {
        margin-left: -10px;
    }
    .far-button {
        position: relative;
        left: 120px !important;
    }
    .Watch, .deep {
        width: 300px;
    }
    .deep1 {
        width: 350px;
        position: relative;
        right: 40px;
    }
    .crm img {
        width: 320px;
    }
    .watch1 {
    width: 350px;
    position: relative;
    right: 50px;
    }
    .cold {
        width: 350px;
        margin-left: 50px;
    }
    .bo {
        position: relative;
        right: 550px;
        top: -500px;
    }
    .radius {
        position: relative;
        left: -20px;
        width: 400px;
        display: flex;
        flex-wrap: wrap;
    }
    .radius div:nth-child(3) {
        position: relative;
        left: 20px;
    }
    .rad-image {
        width: 400px;
    }
    .acenter {
        margin-left: 50px;
    }
    .alicenter {
        position: relative;
        right: 250px;
        width: 300px !important;
    }
    .container-fluid div, .container div {
        margin-bottom: 20px;
    }
    .squirrel {
        width: 450px !important;
        /* height: 1000px; */
        position: relative;
        top: 80px;
        z-index: 2;
    }
    .order {
        margin-top: -60px;
    }
    .order1 {
        order: 1;
    }
    .order2 {
        order: 2;
    }
    .order2 img {
        width: 320px;
    }
    .steep {
        position: relative;
        left: -450px !important;
    }
    .newsletter {
        height: 600px;
        background-image: url(./images/hp-newsletter-card.jpg);
        background-repeat: no-repeat;
        background-position: -30px 30px;
        background-size: 500px 600px;
    }
    .most {
        width: 200px;
    }
   .last div {
      width: 300px;
   }
}
@media screen and (min-width: 476px) and (max-width: 768px) {
    header div:nth-child(2), header div:nth-child(3), header div:nth-child(4), header div:nth-child(5),
    header div:nth-child(6), header div:nth-child(7), header div:nth-child(8), header div:nth-child(10), .fixed {
        display: none;
    }
    header div:nth-child(2) {
        display: none;
    }
     
    html, body {
        width: 767px;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    header {
        width: 100% !important;
    }
    .display-4 {
        /* background-color: #eaf5fe; */
        font-size: 40px;
        font-weight: 700;
        width: 500px;
        position: relative;
        left: 20px;
        padding-top: 70px;
    }
    .moon {
        background-size: 1000px 1000px;
    }
    .nowrap {
        white-space: nowrap;
    }
    .display3 {
        font-size: 40px;
        font-weight: 700;
        width: 750px !important;
        position: relative;
        left: 70px;
    }
    .row2 .card {
        width: 750px !important;
        margin-left: 70px;
    }
    .row .card {
        width: 500px !important;
    }
    .Watch3 {
        position: absolute;
        left: 850px !important;
        top: 400px !important;
    }
    .rad-image {
        width: 800px;
    }
    .alicenter {
        position: relative;
        right: 150px;
        width: 500px !important;
    }
    .paddinga  {
        width: 350px;
        margin-left: 90px !important;
    }
    .paddinga img {
        width: 500px !important;
    }
    .padding7 .card {
        width: 900px !important;
    }
    .card {
        margin-bottom: 30px;
    }
    .moon .row {
        display: flex;
        flex-direction: column;
    }
    .moon .row .d-grid {
        display: flex !important;
        width: 700px;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    header div:nth-child(2), header div:nth-child(3), header div:nth-child(4), header div:nth-child(5),
    header div:nth-child(6), header div:nth-child(7), header div:nth-child(8), header div:nth-child(10), .fixed {
        display: none;
    }
    header div:nth-child(2) {
        display: none;
    }
     
    html, body {
        width: 767px;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    header {
        width: 100% !important;
    }
    .display-4 {
        /* background-color: #eaf5fe; */
        font-size: 40px;
        font-weight: 700;
        width: 500px;
        position: relative;
        left: 20px;
        padding-top: 70px;
    }
    .moon {
        background-size: 1000px 1000px;
    }
    .nowrap {
        white-space: nowrap;
    }
    .display3 {
        font-size: 40px;
        font-weight: 700;
        width: 750px !important;
        position: relative;
        left: 70px;
    }
    .row2 .card {
        width: 750px !important;
        margin-left: 70px;
    }
    .row .card {
        width: 500px !important;
    }
    .Watch3 {
        position: absolute;
        left: 850px !important;
        top: 400px !important;
    }
    .rad-image {
        width: 800px;
    }
    .alicenter {
        position: relative;
        right: 150px;
        width: 500px !important;
    }
    .paddinga  {
        width: 350px;
        margin-left: 90px !important;
    }
    .paddinga img {
        width: 500px !important;
    }
    .padding7 .card {
        width: 900px !important;
    }
    .card {
        margin-bottom: 30px;
    }
    .moon .row {
        display: flex;
        flex-direction: column;
    }
    .moon .row .d-grid {
        display: flex !important;
        width: 700px;
    }
}

  